/* #Styles on the page 
background-color-btn:#28A745;
primary-background-color-section:#28A745
secondary-background-color-section:#0284D0;
background-color-footer:#333333;
primary-font-color:#333333;
secondary-font-color:color: #E9E9E9;
fz-title:38px;
fz-subtitle: 20px;
fz-text:18px;
fz-btn-text:18px;
fz-nav-text:18px;

*/
:root{
	--background-color-btn:#28A745;
	--primary-background-color-section:#28A745
	--secondary-background-color-section:#0284D0;
	--background-color-footer:#333333;

	--primary-font-color:#333333;
	--secondary-font-color: #E9E9E9;
	--hover-nav:#28A745;
	--white-font-color:#FFFFFF;

	--public-post-bgc: #0284D0;

	--fz-title:38px;
	--fz-subtitle: 20px;
	--fz-text:18px;
	--fz-btn-text:18px;
	--fz-nav-text:18px;
}
h1,h2,h3,h4,h5,h6,p{
	margin: 0;
	padding: 0;
}

body {
  font-family: Open Sans, sans-serif;
	line-height:1.6;
 }

.container { 
	width: 1360px;
	margin-right: auto;
	margin-left: auto;
  padding-left: 28px;
  padding-right: 28px;
}

.list{
	list-style: none;
}
.header-hero-bgi{
	background-image: url('/images/background/bgc-hero.jpg') ;
	background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}
/* #header */

.logo {
	text-decoration: none;
	font-size: 35px;
	line-height: 1.2;
	color: #28A745;
}
.logo-light{
	color: var(--white-font-color);
}
.logo-light:hover,
.logo-light:focus{
	color: #28A745;
}
.nav{
	display: flex;
}
.nav-list{
	display: flex;
	margin-left: auto;

}
.nav-item{
	margin-left: 38px;
}
.nav-item:first-child{
	margin-left: -38px;
}
.nav-link{
	--secondary-font-color:#ffffff;
	text-decoration: none;
	color: var(--secondary-font-color);
}
.nav-link:hover,
.nav-link:focus{
	color: var(--hover-nav);
}

/* #hero */
.hero{

	min-height: 714px;
}
.hero-title{
	color: var(--secondary-font-color);
	font-size:55px;;
	font-weight: 300;
	line-height: 1.2;
	text-align: center;
	padding-top: 225px;
	text-transform: capitalize;
}
.hero-text{
	margin-top: 25px;
	font-weight: 400;
	font-size: 22px;
	line-height: 1.67;
	text-align: center;
	color: var(--secondary-font-color);
}
.hero-button{
	display: block;
	margin-top: 30px;
	margin-right: auto;
	margin-left: auto;

	padding-top: 10px;
	padding-right: 30px;
	padding-bottom: 10px;
	padding-left: 31px;
	
	background-color: var(--background-color-btn);
	border-radius: 5px;
	border: none;

	font-size: var(--fz-text);
	color: var(--white-font-color);

}

.hero-button:hover,
.hero-button:focus{
background-color: #1f8035;
}
/* #Features */

.visually-hidden{
	position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.features-list{
	display: flex;
}
.features-item{
	margin-left: 71px;
}
.features-item:first-child{
	margin-left: -71px;
}

.features-subtitle{
	font-weight: 400;
	font-size: var(--fz-subtitle);
	line-height: 1.65;
	text-align: center;
	color: #333333;
	margin-bottom: 16px;
}
.features-text{
	width: 362px;
	font-size: var(--fz-text);
	text-align: center;
	color: var(--primary-font-color);
}

/* #provide */
.provide-flex-box {
	display: flex;
	margin-left: auto;
	margin-right: auto;

	margin-bottom: 50px;
	align-items: start;
}
.provide-text-box {
	width: 680px;

	padding-top: 84px;
	padding-bottom: 84px;
	padding-left: 30px;
	
	
	background-color: var(--background-color-btn);
}

.provide-img {

	width: 680px;
	background-color: var(--background-color-btn)

}
.provide-subtitle {
	display: inline-block;
	width: 237px;

	margin-bottom: 5px;
	margin-right: 0;
	
	font-size: var(--fz-text);
	color: var(--white-font-color);

}
.provide-title {
	display: inline-block;
	width: 541px;

	margin-bottom: 26px;
	
	margin-right: 0;


	color: var(--white-font-color);
	font-weight: 300;
	font-size: var(--fz-title);
	line-height: 1.2;

}
.provide-text {

	width: 606px;

	margin-bottom: 28px;

	margin-right: 0;
	
    color: var(--white-font-color);
	font-size: var(--fz-text);
	line-height: 1.5;
	
	
}

.provide-details-text {
	display: block;
		width: 167px;
	
		padding-top: 11px;
		padding-bottom: 12px;
		margin-right: 0;
		
		

	font-size: var(--fz-text);
	line-height: 1.5;

	color: var(--white-font-color);
	background-color: var(--background-color-btn);
	border: 1px solid var(--white-font-color);
	 text-align: center;
    border-radius: 5px;
	
	

}
.provide-details {
	
	color: var(--white-font-color);

	font-size: var(--fz-text);

	margin-right: 0;
	

}

/* Blog Post One */
.public {
	background-color: var(--public-post-bgc);
	
}
.text {
	color: var(--secondary-font-color);
}
.public-subtitle {
    font-weight: 400;
	font-size: 20px;
	line-height: 33px;
}
.public-title {
	font-weight: 300;
	font-size: 38px;
	line-height: 48px;
}
.public-text {
	font-weight: 400;
	font-size: 18px;
	line-height: 28px;
}
.btn {
	font-weight: 400;
	font-size: 18px;
	line-height: 28px;
	border: 1px solid #FFFFFF;
    border-radius: 5px;
}